.card {
    vertical-align: middle;
    &.card-inverse {
        background-color: $card-inverse-bgcolor;
        color: $card-inverse-textcolor;
        @media only screen and (max-width: $breakpoint-xs) {
            &:not(:last-child) {
                border-bottom: 1px solid darken($section-inverse-bgcolor, $section-inverse-amount);
            }
        }
    }
    &.card-transparent {
        background-color: transparent;
        border: none;
    }
}

.card {
  position: relative;
  display: block;
  margin-bottom: .75rem;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 0;
}

.card-block {
  padding: 1.25rem;
}

.card-title {
  margin-bottom: .75rem;
}

.card-subtitle {
  margin-top: -.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-radius: 0;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-radius: 0;
}

.card-header {
  padding: .75rem 1.25rem;
  background: -webkit-linear-gradient(bottom, #fca91c, #f29802);
    background: -o-linear-gradient(bottom, #fca91c, #f29802);
    background: linear-gradient(bottom, #fca91c, #f29802);
  border-bottom: 1px solid #e5e5e5;
}

.card-header:first-child {
  border-radius: 0;
}

.card-footer {
  padding: .75rem 1.25rem;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
}

.card-footer:last-child {
  border-radius: 0;
}

.card-primary {
  background-color: #0275d8;
  border-color: #0275d8;
}

.card-success {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.card-info {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.card-warning {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.card-danger {
  background-color: #d9534f;
  border-color: #d9534f;
}

.card-primary-outline {
  background-color: transparent;
  border-color: #0275d8;
}

.card-secondary-outline {
  background-color: transparent;
  border-color: #ccc;
}

.card-info-outline {
  background-color: transparent;
  border-color: #5bc0de;
}

.card-success-outline {
  background-color: transparent;
  border-color: #5cb85c;
}

.card-warning-outline {
  background-color: transparent;
  border-color: #f0ad4e;
}

.card-danger-outline {
  background-color: transparent;
  border-color: #d9534f;
}

.card-inverse .card-header,
.card-inverse .card-footer {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.card-inverse .card-header,
.card-inverse .card-footer,
.card-inverse .card-title,
.card-inverse .card-blockquote {
  color: #fff;
}

.card-inverse .card-link,
.card-inverse .card-text,
.card-inverse .card-blockquote > footer {
  color: rgba(255, 255, 255, .65);
}

.card-inverse .card-link:focus, .card-inverse .card-link:hover {
  color: #fff;
}

.card-blockquote {
  padding: 0;
  margin-bottom: 0;
  border-left: 0;
}

.card-img {
  border-radius: 0;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img-top {
  border-radius: 0;
}

.card-img-bottom {
  border-radius: 0;
}

@media (min-width: 544px) {
  .card-deck {
    display: table;
    table-layout: fixed;
    border-spacing: 1.25rem 0;
  }
  .card-deck .card {
    display: table-cell;
    width: 1%;
    vertical-align: top;
  }
  .card-deck-wrapper {
    margin-right: -1.25rem;
    margin-left: -1.25rem;
  }
}

@media (min-width: 544px) {
  .card-group {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  .card-group .card {
    display: table-cell;
    vertical-align: top;
  }
  .card-group .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group .card:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group .card:first-child .card-img-top {
    border-top-right-radius: 0;
  }
  .card-group .card:first-child .card-img-bottom {
    border-bottom-right-radius: 0;
  }
  .card-group .card:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group .card:last-child .card-img-top {
    border-top-left-radius: 0;
  }
  .card-group .card:last-child .card-img-bottom {
    border-bottom-left-radius: 0;
  }
  .card-group .card:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  .card-group .card:not(:first-child):not(:last-child) .card-img-top,
  .card-group .card:not(:first-child):not(:last-child) .card-img-bottom {
    border-radius: 0;
  }
}

@media (min-width: 544px) {
  .card-columns {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}

.card .list-group-item {
    border-left: none;
    border-right: none;
}

.card-stacked {
    margin-top: 4em;
    margin-bottom: 4em;
    .card {
        @include prefix('display', 'flex');
        width: 100%;
        margin-bottom: -1px;
        .card-block {
            padding-bottom: 0;
            overflow: hidden;
        }
        @media only screen and (max-width: $breakpoint-sm) {
            display: block;
            &:before, &:after {
                content: "";
                display: table;
                clear: both;
            }
        }
    }
    .card:not(.card-centered):nth-child(odd) {
        .card-block:first-child {
            @include prefix('order', '2');
        }
        .card-block:nth-child(2) {
            @include prefix('order', '1');
            padding-left: 0;
        }
    }
    .card:not(.card-centered):nth-child(even) {
        .card-block:first-child {
            @include prefix('order', '1');
        }
        .card-block:nth-child(2) {
            @include prefix('order', '2');
            padding-right: 0;
        }
    }
    .card-centered {
        display: block;
    }
}